# Database
db.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.Python

# Django
*.log
local_settings.py
celerybeat-schedule

# Virtual environments
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
.env
docker-compose.yml
harpoon2/secrets.py
