{%  load crispy_forms_tags %}
<form method="post" action="{% if object %}{% url 'entities:dlfolder-create' %}{% else %}{% url 'entities:dlfolder-create' %}{% endif %}" id="createform">
  {% csrf_token %}

  <div class="modal-header bg-dark text-light border-secondary">
     <h5 class="modal-title">Add Folder</h5>
     <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
   </div>

  <div class="modal-body bg-dark text-light">
      <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% for field in form %}
      <div class="mb-3{% if field.errors %} is-invalid{% endif %}">
        {{ field|as_crispy_field }}
        {% for error in field.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer bg-dark border-secondary">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="submit-btn btn btn-primary">Save Changes</button>
  </div>

</form>