{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
<div>
    <h3>Downloaders <a href="{% url 'entities:downloader-create' %}" data-modal-url="{% url 'entities:downloader-create' %}" class="modal-link btn btn-sm btn-primary"><i class="fa fa-fw fa-plus-circle"></i> Add Downloader</a></h3>
</div>
    <div class="card-columns">
{% for downloader in downloaders %}
        <div id="downloader_info" class="card bg-dark text-white" style="width: 20rem;">

            <div class="card-header bg-primary"><h4 class="card-title">{{ downloader.name }}
                <a href="{% url 'entities:downloader-update' downloader.pk %}" data-modal-url="{% url 'entities:downloader-update' downloader.pk %}" class="modal-link btn btn-sm btn-primary border-secondary"><i class="fa fa-fw fa-pencil-alt"></i></a>
                <button type="button" class="btn btn-sm btn-info border-secondary test-downloader" data-downloader-id="{{ downloader.pk }}" title="Test connection"><i class="fa fa-fw fa-plug"></i></button>
                <a href="{% url 'entities:downloader-delete' downloader.pk %}" data-modal-url="{% url 'entities:downloader-delete' downloader.pk %}" class="modal-link btn btn-sm btn-danger border-secondary"><i class="fa fa-fw fa-trash"></i></a>
                </h4>
            </div>
            <div class="card-body px-1">
                <div><b>Type:</b> {{ downloader.downloadertype }}</div>
            </div>
        </div>
{% endfor %}
    </div>

<script>
$(document).ready(function() {
    $('.test-downloader').click(function(e) {
        e.preventDefault();
        var downloaderBtn = $(this);
        var downloaderId = downloaderBtn.data('downloader-id');
        var originalHtml = downloaderBtn.html();
        
        console.log('Testing downloader:', downloaderId);
        
        // Show loading state
        downloaderBtn.html('<i class="fa fa-fw fa-spinner fa-spin"></i>').prop('disabled', true);
        
        // Get CSRF token
        var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]')?.value || '';
        console.log('CSRF token:', csrftoken ? 'found' : 'not found');
        
        $.ajax({
            url: '/entities/api/test-downloader/' + downloaderId + '/',
            type: 'POST',
            headers: {
                'X-CSRFToken': csrftoken,
                'X-Requested-With': 'XMLHttpRequest'
            },
            success: function(response) {
                console.log('Success:', response);
                if (response.success) {
                    downloaderBtn.addClass('btn-success').removeClass('btn-info');
                    downloaderBtn.html('<i class="fa fa-fw fa-check"></i>');
                    setTimeout(function() {
                        downloaderBtn.removeClass('btn-success').addClass('btn-info');
                        downloaderBtn.html(originalHtml).prop('disabled', false);
                    }, 2000);
                } else {
                    downloaderBtn.addClass('btn-danger').removeClass('btn-info');
                    downloaderBtn.html('<i class="fa fa-fw fa-times"></i>');
                    setTimeout(function() {
                        downloaderBtn.removeClass('btn-danger').addClass('btn-info');
                        downloaderBtn.html(originalHtml).prop('disabled', false);
                    }, 2000);
                }
            },
            error: function(xhr, status, error) {
                console.log('Error:', status, error, xhr.responseText);
                downloaderBtn.addClass('btn-danger').removeClass('btn-info');
                downloaderBtn.html('<i class="fa fa-fw fa-times"></i>');
                setTimeout(function() {
                    downloaderBtn.removeClass('btn-danger').addClass('btn-info');
                    downloaderBtn.html(originalHtml).prop('disabled', false);
                }, 2000);
            }
        });
    });
});
</script>
{% endblock %}